.Rproj.user
.Rhistory
.RData
.Ruserdata
02_Program/Text_mining_files/figure-html/data frequent words-1.png
02_Program/Text_mining_files/figure-html/data frequent words-2.png
02_Program/Text_mining_files/figure-html/frequency per document-1.png
03_Outputs terms_in_extracts.csv
02_Program/Text_mining.html
02_Program/Text_mining_files/figure-html/data frequent words-1.png
02_Program/Text_mining_files/figure-html/data frequent words-2.png
02_Program/Text_mining_files/figure-html/frequency per document-1.png
